{% extends 'base.html' %}

{% block title %}
<title>Editar Perfil</title>
{% endblock title %}

{% block texto_header %}
<h1>Editando Perfil de: {{request.user.username}}</h1>
{% endblock texto_header %}

{% block despues_del_header %}

    <P>
       <form action={% url 'editar_perfil' %} method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button>Editar</button>
            <p></p>
       </form>
        <p>
            <a href={% url 'cambiar_password' %}><button type="button" class="btn btn-primary disabled" _msthash="1334151" _msttexthash="115193">Cambiar contraseña</button></a>
        </p>
    </P> 
   
{% endblock despues_del_header %}

