{% extends 'base.html' %}

{% block title %}
<title>Cerrar Sesi&oacute;n</title>
{% endblock title %}

{% block texto_header %}
<p></p>
<div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <font _mstmutation="1" _msthash="1315730" _msttexthash="3080701"><strong _mstmutation="1" _istranslated="1">Sesi&oacute;n cerrada con exito!</strong></font></div>
{% comment %} <h3>Sesi&oacute;n cerrada con exito!</h3> {% endcomment %}
{% endblock texto_header %}

