{% extends 'base.html' %}

{% block title %}
<title>Perfil</title>
{% endblock title %}

{% block texto_header %}
<h1>Perfil del Usuario: {{request.user.username}}</h1>
{% endblock texto_header %}

{% block despues_del_header %}
    <p>
        <ul>
            <li><U><b>Nombre:</b></U>{{request.user.first_name}}</li>
            <li><U><b>Apellido:</b></U> {{request.user.last_name}}</li>
            <li><U><b>Descripcion:</b></U> {{request.user.masdatosusuario.descripcion}}</li>
            <li><U><b>Red Social:</b></U> {{request.user.masdatosusuario.red_social}}</li>
            <li><U><b>E-mail:</b></U> {{request.user.email}}</li>
            <li>
                <p><U><b>Avatar:</b></U></p>
                {% if request.user.masdatosusuario.avatar %}
                <img src={{request.user.masdatosusuario.avatar.url}} alt="", height='130px'>
                {% endif %}
            </li>
        </ul>
    </p>

   <p>
    <a href={% url 'editar_perfil' %}><button type="button" class="btn btn-primary disabled" _msthash="1334151" _msttexthash="115193">Editar mis Datos</button></a>
   </p>
{% endblock despues_del_header %}

