{% extends 'base.html' %}

{% block title %}
<title>Editar Moto</title>
{% endblock title %}

{% block texto_header %}
<h1>Edita tu Moto:</h1>
{% endblock texto_header %}

{% block despues_del_header %}
    <p>
        <a href={% url 'listado_motos' %}><button type="button" class="btn btn-primary disabled" _msthash="1334151" _msttexthash="115193">Volver</button></a>
    </p>
    <P>
       <form action={% url 'editar_moto' moto.id%} method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button>Editar</button>
       </form>
    </P> 
{% endblock despues_del_header %}

