{% extends 'base.html' %}

{% block title %}
<title>Listado de Motos</title>
{% endblock title %}

{% block texto_header %}
<h1>Listado de Motos:</h1>
{% endblock texto_header %}

{% block despues_del_header %}
    <p>
        <a href={% url 'crear_moto' %}><button type="button" class="btn btn-outline-success" _msthash="1334749" _msttexthash="74009">Crear Moto</button></a>
    </p>
  
    <P>
        {% if object_list %}
       <ul>
            {% for moto in object_list %}
                <li>
                    {{moto}}
                    <a href={% url 'editar_moto' moto.id %}><button type="button" class="btn btn-primary btn-sm" _msthash="1455558" _msttexthash="256607">Editar</button></a>
                    <a href={% url 'eliminar_moto' moto.id %}><button type="button" class="btn btn-primary btn-sm" _msthash="1455558" _msttexthash="256607">Eliminar</button></a>
                    <a href={% url 'mostrar_moto' moto.id %}><button type="button" class="btn btn-primary btn-sm" _msthash="1455558" _msttexthash="256607">Ver Mas</button></a>
                    <p></p>
                </li>
            {% endfor %}
       </ul>
        {% else %}
        No se encontraron datos
        {% endif %}
    </P> 
{% endblock despues_del_header %}

