{% extends 'base.html' %}

{% block title %}
<title>MOTOS</title>
{% endblock title %}

{% block texto_header %}
<h1>MOTO:</h1>
{% endblock texto_header %}

{% block despues_del_header %}
 <p>
    <a href={% url 'listado_motos' %}>Volver</a>
 </p>  
    <P>
        <ul>
            <li>
               <b>Marca:</b> {{moto.nombre}}
            </li>
            <li>
                <b>Modelo:</b> {{moto.modelo}}
            </li>
            <li>
                <b>Fecha de Creacion</b> {{moto.fecha_creacion}}
            </li>
       </ul>
    </P> 
{% endblock despues_del_header %}

