{% extends 'base.html' %}

{% block title %}
<title>Listado de Autos</title>
{% endblock title %}

{% block texto_header %}
<h1>Listado de Autos:</h1>
{% endblock texto_header %}

{% block despues_del_header %}
    <p>
        <a href={% url 'crear_auto' %}><button type="button" class="btn btn-outline-success" _msthash="1334749" _msttexthash="74009">Crear Auto</button></a>
    </p>
    <p>
        <form action={% url 'listado_autos' %}>
        {{form}}
        <button>Buscar</button>
        </form>
    </p>
    <P>
        {% if listado_autos %}
       <ul>
            {% for auto in listado_autos %}
                <li>
                    {{auto}}
                    <a href={% url 'editar_auto' auto.id %}><button type="button" class="btn btn-primary btn-sm" _msthash="1455558" _msttexthash="256607">Editar</button></a>
                    <a href={% url 'eliminar_auto' auto.id %}><button type="button" class="btn btn-primary btn-sm" _msthash="1455558" _msttexthash="256607">Eliminar</button></a>
                    <a href={% url 'mostrar_auto' auto.id %}><button type="button" class="btn btn-primary btn-sm" _msthash="1455558" _msttexthash="256607">Ver Mas</button></a>
                    <p></p>
                </li>
            {% endfor %} 
       </ul> 
        {% else %}
        No se encontraron datos
        {% endif %}
    </P> 
{% endblock despues_del_header %}

