{% extends 'base.html' %}

{% block title %}
<title>AUTOS</title>
{% endblock title %}

{% block texto_header %}
<h1>AUTO:</h1>
{% endblock texto_header %}

{% block despues_del_header %}
 <p>
    <a href={% url 'listado_autos' %}>Volver</a>
 </p>  
    <P>
        <ul>
            <li>
               <b>Marca:</b> {{auto.marca}}
            </li>
            <li>
               <b>Modelo:</b> {{auto.modelo}}
            </li>
            <li>
               <b>Descripcion:</b> {{auto.descripcion | safe}}
            </li>
            <li>
               <b>Fecha de Creacion:</b> {{auto.fecha_creacion}}
            </li>
       </ul>
    </P> 
{% endblock despues_del_header %}

