{% extends 'base.html' %}

{% block title %}
<title>Autos</title>
{% endblock title %}

{% block texto_header %}
<h1>Auto:</h1>
{% endblock texto_header %}

{% block despues_del_header %}
 <p>
    <a href={% url 'listado_autos' %}><button type="button" class="btn btn-primary disabled" _msthash="1334151" _msttexthash="115193">Volver</button></a>
 </p>  
    <P>
        <ul>
            <li>
               <U><b>Marca:</b></U>{{auto.marca}}
            </li>
            <li>
               <U><b>Modelo:</b></U> {{auto.modelo}}
            </li>
            <li>
               <U><b>Descripci&oacute;n:</b></U> {{auto.descripcion | safe}}
            </li>
            <li>
               <U><b>Fecha de Creaci&oacute;n:</b></U> {{auto.fecha_creacion}}
            </li>
       </ul>
    </P> 
{% endblock despues_del_header %}

